<!-- Navigation bar -->
<nav class="navbar navbar-default navbar-inverse" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="index.html">Dan's Portraits and Caricatures</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="navbar-collapse navbar-ex1-collapse collapse" style="height: 1px;">
	<ul class="nav navbar-nav">
	    <li class="active"><a href="index.html">Home</a></li>
	    <!--<li><a href="Pets.html">Pets</a></li>-->
	    <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            Graphite 
	            <b class="caret"></b>
	        </a>
	        <ul class="dropdown-menu">
	            <li><a href="humorous-illustrations.html">Humorous Illustrations</a></li>
	            <li><a href="caricatures.html">Caricatures</a></li>
	            <li><a href="graphite-pencil-portraits.html">Graphite Portraits</a></li>
	        </ul>
	    </li>
	    <li><a href="live-caricatures.html">Live Caricatures</a></li>
	    <li><a href="color-caricatures.html">Color Caricatures</a></li>
	    <li><a href="testimonials.html">Testimonials</a></li>
	</ul>
	</div>
</nav>
